params {
    outdir = './results'
    normal_tpm = 'normal_lung_tpm.tsv'
    normal_replicates = 'normal_replicates.txt'
    cancer_tpm = 'cancer_lung_tpm.tsv'
    cancer_replicates = 'cancer_replicates.txt'
    pathways = 'pathways_ensembl.csv'
}

env {
  PYTHONNOUSERSITE = 1
}

process {
  container = 'nextflow/lcep:1.0.0'

  withLabel: with_cpus {
        cpus = 4
        memory = '7G'
  }

  withLabel: with_all_gpus {
       maxForks = 1
       containerOptions = {
          workflow.containerEngine == "singularity" ? '--nv':
              ( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus all': null ) } 
  }

  withLabel: with_single_gpu {
    maxForks = 1
       containerOptions = {
          workflow.containerEngine == "singularity" ? '--nv':
              ( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus device=0': null ) }
  } 
}
